@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Titillium+Web&display=swap');

.home-title{
    font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#logo_link{
    padding-top: 5px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #252422;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #252422;
    color: #e8dab7;
}
.home-title, h4{
    color: #e8dab7;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #e8dab7;
}
body{
    background-color: #252422;
    font-family: Titillium Web, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #EB5E28;
}
.book{
    background-color: #e8dab7;
    color: #252422;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: #EB5E28;
    color: #252422;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #EB5E28;
    color: #252422;
    text-decoration: none;
}
.join:hover{
    background-color: #252422;
    color: #e8dab7;
}
.msg{
    background-color: #EB5E28;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #EB5E28;
    color: #252422;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #252422;
    text-decoration: none;
}
footer a:hover{
    color: #e8dab7;
    text-decoration: underline;
}
.msg h2, p{
    color: #252422;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
h2{
    color: whitesmoke;
    margin: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img{
    border:#EB5E28 10px;
}


