@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Titillium+Web&display=swap');

.home-title{
    font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#logo_link{
    padding-top: 5px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #252422;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #252422;
    color: #e8dab7;
}
.home-title, h4{
    color: #e8dab7;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #e8dab7;
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color: #252422;
    font-family: Titillium Web, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #EB5E28;
    display: grid;
    grid-template-columns: 150px auto;
}
.book{
    background-color: #e8dab7;
    color: #252422;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: #EB5E28;
    color: #252422;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #EB5E28;
    color: #252422;
    text-decoration: none;
}
.join:hover{
    background-color: #252422;
    color: #e8dab7;
}
.msg{
    background-color: #EB5E28;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
footer{
    background-color: #EB5E28;
    color: #252422;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #252422;
    text-decoration: none;
}
footer a:hover{
    color: #e8dab7;
    text-decoration: underline;
}
.msg h2, p{
    color: #252422;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
h2{
    color: whitesmoke;
    margin: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img{
    border: 10px solid #EB5E28;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

/* 28-10-2023 */
nav{
    display:flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    text-align: center;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 3fr);
}
.card-img, .mountains{
    width: 100%
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.booking-title{
    font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: #e8dab7;
    grid-column: 4/8;
    margin-top: 10%;
    margin-bottom: 30%;
    
}
.random-img{
    border: 10px solid #e8dab7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.random-img:hover{
    transform: scale(1.1);
    border:10px solid #EB5E28
}

.bookings-grid{
    display: grid;
    grid-template-columns: repeat(10, 3fr);
}
.GRAND_CANYON_1{
    margin-bottom: 20%;
    grid-column: 2/4;
    grid-row: 4/6;
}
.canyon1-rate{
    margin-bottom: 20%;
    grid-column: 6/9;
    grid-row: 4/6;
}
.GRAND_CANYON_1, p{
    color: #e8dab7;
}
.GRAND_CANYON_2{
    margin-bottom: 20%;
    grid-column: 2/4;
    grid-row: 7/9;
}
.canyon2-rate{
    margin-bottom: 20%;
    grid-column: 6/9;
    grid-row: 7/9;
}
.SALMON_NIGHT_TRIP{
    margin-bottom: 20%;
    grid-column: 2/4;
    grid-row: 10/12;
}
.salmon-rate{
    margin-bottom: 20%;
    grid-column: 6/9;
    grid-row: 10/12;
}
.DESOLATION_6{
    margin-bottom: 20%;
    grid-column: 2/4;
    grid-row: 13/15;
}
.desolation-rate{
    margin-bottom: 20%;
    grid-column: 6/9;
    grid-row: 13/15;
}



/* RESPONSIVE CSS FOR SCREENS SMALLER THAN 900PX */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

