/* *{
    border: 2px solid red;
} */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Titillium+Web&display=swap');

body{
    font-family: Titillium Web, Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

a {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}
a:hover{
    background-color: grey;
    color:white;
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h1{
    text-align: center;
    font-size: 2em;
    margin:20px auto;
}
img {
    width:50%;
    display: block;
    margin: 20px auto;
    border: 5px solid rgb(248, 195, 132);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 30px;
}
p {
    /* text-align: center; */
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.background {
    background-color: aqua;

}
footer p{
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(71, 69, 69);
}
#content{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    
}