body{
    background-color: pink;
}
#TOP{
    text-align: center;
    color: white;    
    margin: 10px auto;
}
#QUOTE{
    color: white;
    text-align: center;
    font-size: 1em;
}
h3{
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#TOP:hover{
    color: black;
}
img{
    width:30%;
    display: block;
    margin: 0 auto;
}
