body{
    background-color: rgb(252, 165, 192);
}
#TOP{
    text-align: center;
    color: white;    
    margin: 10px auto;
}
#QUOTE{
    color: white;
    text-align: center;
    font-size: 1em;
}
h3{
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#TOP:hover{
    color: black;
}
img{
    width:15%;
    display: block;
    margin: 0 auto;
    
}
p{
    display: block;
    margin-left: 32%;
    font-size: 18px;
    font-weight: bold;
}
#second_quote{
    color: white;
    text-align: center;
    padding: 5%;
    font-size: 1.8em;
    
}
footer{
    text-align: center;
}
